.StartPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .StartPage-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 150px;
    padding: 20px;
    z-index: 1;

    .StartPage-current {
      text-align: center;
    }

    .StartPage-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 10px;
    }
  }
}
