@import 'colors';

html {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > #root {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: $root-bg-color;
  }
}
