.AppSnackbar {
  .AppSnackbar-successContent {
    background-color: green;
  }

  .AppSnackbar-errorContent {
    background-color: darkred;
  }

  .AppSnackbar-infoContent {
    background-color: darkblue;
  }

  .AppSnackbar-warningContent {
    background-color: #b3b200;
  }

  .AppSnackbar-icon {
    font-size: 20px;

    &.iconType {
      opacity: 0.9;
      margin-right: 10px;
    }
  }

  .AppSnackbar-message {
    display: flex;
    align-items: center;
  }
}
